table {
  color: #5c2d2d;
  font: 16px Tahoma, sans-serif;
  background-color: #f8f8f8;
  border-top: 5px solid #7e7e7e;
  margin: 10px;
  margin-left: 60px;
  border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
  border: 3px solid rgb(119, 97, 97); /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 5px*/
  width: 800px;
  text-align: center;
  padding: 10px;
}

caption {
  caption-side: top;
  text-align: center;
  padding: 5px 0;
  font-size: 25px;
}
button {
  width: 100%;
  border-radius: 4px;
}

th {
  border: 1px solid grey;
}
td {
  border: 1px solid grey;
}

.link{
margin: 10px; 
margin-left: 60px;
font: 20px Tahoma, sans-serif;  
}
